absl-py
affine
aiohttp
aiosignal
argon2-cffi
argon2-cffi-bindings
astor==0.8.1
asttokens
astunparse==1.6.3
async-timeout
attrs
backcall
backports.functools-lru-cache
beautifulsoup4
bleach
blinker==1.4
branca
brotlipy
cachetools
certifi==2022.5.18.1
cffi
charset-normalizer
click
click-plugins==1.1.1
cligj
cloudpickle
colorama
cryptography
cycler
cytoolz==0.11.2
daal4py==2021.7.0
dask
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
Fiona==1.8.20
flit_core
folium
fonttools
frozenlist
fsspec
gast==0.4.0
GDAL==3.3.1
geopandas
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
imagecodecs
imageio
importlib-metadata
importlib-resources
imutils
ipykernel
ipython
ipython-genutils==0.2.0
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
Keras==2.3.1
Keras-Applications
Keras-Preprocessing
kiwisolver
llvmlite==0.38.0
locket
mapclassify
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
multidict
munch==2.5.0
munkres==1.1.4
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numba
numpy
oauthlib
opencv-python-headless==4.5.5.64
opt-einsum
packaging
pandas==1.4.2
pandocfilters
parso
partd
patsy
pexpect
pickleshare
Pillow==9.0.1
plotly
prometheus-client
prompt-toolkit
protobuf
psutil
ptyprocess
pure-eval
pyasn1
pyasn1-modules==0.2.8
pycparser
pydot
Pygments
PyJWT
pyOpenSSL
pyparsing
pyproj
PyQt5==5.12.3
PyQt5_sip==12.7.0
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent
PySocks
python-dateutil
pytz
pyu2f
PyWavelets
PyYAML
pyzmq
qtconsole
QtPy
rasterio
requests
requests-oauthlib
rsa
Rtree
scikit-image
scikit-learn
scikit-learn-intelex==2021.7.0
scipy
seaborn
Send2Trash
Shapely
six
snuggs==1.4.7
soupsieve
spectral
stack-data
statsmodels
tenacity
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor==1.1.0
terminado
threadpoolctl
tifffile
tinycss2
toolz
tornado
tqdm
traitlets
typing_extensions
unicodedata2
urllib3
wcwidth
webencodings==0.5.1
Werkzeug
widgetsnbextension
wrapt
xyzservices
yarl 
zipp 
